
$size-basic: 16px;
$size-sm: 14px;
$size-md: 0.8rem;
$size-sub-large: 0.8rem;
$size-lg: 1rem;

$padding-sm: 0.5rem;
$padding-md: 0.8rem;
$padding-lg: 1.5rem;



$card-size-sm: 150px;
$card-size-md: 200px;
$card-size-lg: 150px;

$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
